@import "tailwindcss";
@theme {
  --color-primary: #00963F;
  --color-secondary: #00080A;
  --color-dark-grey: #5D5D5D;
  --color-black: #262626;
  --color-light-grey: #B4B4B4;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #F7F7F7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

